<%inherit file="base.html"/>
<%def name="head()">
<script>
    $(document).ready(function () {

        $("#attr_types").change(function(i){
            $("#attr_name").val($("#attr_types").val());
            $("#attr_desc").val($("#attr_types").find("option:selected").text());
        });

    });    
    
</script>
</%def>
<%def name="body()">
<section class="content">
    <div class="box box-default">
      <div class="box-header"><i class="fa fa-archive"></i> ${form.title}
      <div class="bar pull-right">
      <a href="javascript:history.go(-1);"><i class="fa fa-reply"></i> 返回</a>
      <a href="javascript:showhelp('bas');"><i class="fa fa-question-circle"></i> 帮助</a>
      </div>
    </div>
    <div class="box-body">
        <div class="container">
            % if msg:
            <div class="alert alert-warning">${msg}</div>
            % endif
            <form class="form-horizontal form-well" role="form" action="${form.action}" method="post">
            ${xsrf_form_html()|n}
            ${form.render_css()|n}
        </form>
      </div>
    </div>
</div>

</section>
</%def>