<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>系统安装</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/media/image/favicon.ico"/>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
<h3>计费系统授权码安装</h3>
<hr>
<form role="form" action="/" method="post">
     ${xsrf_form_html()|n}
  <div class="form-group">
    <label for="sid">SID</label>
    <input type="text" class="form-control" id="sid" name="sid" value="${sid or ''}" readonly="readonly">
  </div>
  <div class="form-group">
    <label for="license">授权码</label>
    <textarea id="license" name="license" class="form-control" rows="7">${freelic or ''}</textarea>
  </div>
<div class="well well-md">
    <p>提示：您当前安装的《计费》软件。 </p>
</div>  
  <button type="submit" class="btn btn-primary">保存授权吗</button>
  <a href="/?freesid=${sid or ''}" class="btn btn-link">获取免费的授权码</a>
  <a href="https://www.toughcloud.net" class="btn btn-link" target="_blank">申请正式授权码</a>
</form>

</div>
</body>
</html>