<%inherit file="base.html"/>
<%def name="head()">

</%def>
<%def name="body()">

<div class="jumbotron">
  <div class="container lbanner">
    <h2>用户至上 真诚服务</h2>
    <!-- <p>欢迎光临网上营业厅</p> -->
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/img/buy_product.jpg" alt="...">
      <div class="caption">
        <p>为您提供在线套餐办理，支持支付宝缴费，实时开通，提供包月，包年，流量，时长套餐，即买即用。</p>
        <p><a href="/ssportal/product" class="btn btn-default" role="button">详情进入</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/img/account_info.jpg" alt="...">
      <div class="caption">
        <p>账号详细信息查询，账号基本信息，包括订购套餐，到期时间等。支持对账号的密码修改，在线续费，实时生效。</p>
        <p><a href="/ssportal/account" class="btn btn-default" role="button">详情进入</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/img/order_list.jpg" alt="...">
      <div class="caption">
        <p>查询用户历史订购记录，订购资费套餐，订购时间，缴费金额。</p>
        <p><a href="/ssportal/order" class="btn btn-default" role="button">详情进入</a></p>
      </div>
    </div>
  </div>


</div>

</%def>

