<%inherit file="usrportal_base.html"/>
<%def name="head()">
</%def>
<%def name="body()">
    <!-- Main content -->
    <section class="content">
      <div class="info-page">

        <div class="info-content">
          <h3><i class="fa fa-warning text-yellow"></i> 信息提示.</h3>

          <p>
            ${msg or ''|h}
          </p>
          <p><a class="btn btn-default btn-lg" onclick="javascript:history.go(-1);" role="button">返回</a></p>
        </div>
        <!-- /.error-content -->
      </div>
 </%def>
<%def name="js()">

</%def>