<%inherit file="profile_base.html"/>
<%def name="head()">

</%def>
<%def name="body()">

<!-- Main content -->
<section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/static/img/avatar.png" alt="User profile picture">

              <h3 class="profile-username text-center">${current_user.username}</h3>

              <p class="text-muted text-center">会员信息</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>登陆时间</b> <a class="pull-right">${current_user.login_time}</a>
                </li>
                <li class="list-group-item">
                  <b>登陆地址</b> <a class="pull-right">${current_user.ipaddr}</a>
                </li>
                <li class="list-group-item">
                  <b>开通时间</b> <a class="pull-right">${current_user.create_time}</a>
                </li>
                <li class="list-group-item">
                  <b>到期时间</b> <a class="pull-right">${current_user.expire_date}</a>
                </li>
                <li class="list-group-item">
                  <b>会员状态</b> <a class="pull-right">
                    % if utils.is_expire(current_user.expire_date) or current_user.status == 4:
                            <span class="label label-warning">到期</span>
                        % elif current_user.status == 1:
                            <span class="label label-success">正常</span>
                        % elif current_user.status == 0:
                            <span class="label label-info">预定</span>
                        % elif current_user.status == 2:
                            <span class="label label-default">停机</span>
                        % elif current_user.status == 3:
                            <span class="label label-danger">销户</span>
                        % endif
                    </a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">

            <div class="row">
                <div class="col-lg-4 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>套餐办理</h3>

                      <p>为您提供在线套餐办理，支持支付宝缴费，实时开通，提供包月，包年，流量，时长套餐，即买即用。</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-bookmark-o"></i>
                    </div>
                    <a href="/usrportal/product" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h3>帐号管理</h3>

                      <p>账号详细信息查询，账号基本信息，包括订购套餐，到期时间等。支持对账号的密码修改，在线续费，实时生效。</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <a href="/usrportal/account" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <h3>消费记录</h3>

                      <p>查询用户历史订购记录，订购资费套餐，订购时间，缴费金额。<br/><br/><br/></p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <a href="/usrportal/order" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>

            </div>
      <!-- /.row -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


</section>
</%def>
<%def name="js()">

</%def>

