<%def name="page_nav()">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/">
                    <img src="/static/img/logo_white_50X50.png" alt="" />
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="#">套餐</a></li>
                    <li><a href="#">下载</a></li>
                    <li><a href="#">帮助</a></li>
                </ul>
            </div>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    % if current_user:
                    <li><a href="/usrportal/profile"><i class="fa fa-user"></i> ${current_user.username}</a></li>
                    <li><a href="/usrportal/logout"><i class="fa fa-sign-out"></i> 退出</a></li>
                    % else:
                    <li><a href="/usrportal/register"><i class="fa fa-book"></i> 注册</a></li>
                    <li><a href="/usrportal/login"><i class="fa fa-sign-in"></i> 登录</a></li>
                    % endif
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
    </nav>

</%def>
<%def name="model_form(form)">
<div class="modal fade" id="form_${form.id}" tabindex="-1" role="dialog" aria-labelledby="form-${form.id}-ml">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="form-${form.id}-ml">${form.title}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-well" role="form" action="${form.action}" method="post">
              ${xsrf_form_html()|n}
              ${form.render_css()|n}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" id="submit_btn_${form.id}" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>
<script>
$("#submit_btn_${form.id}").click(function(
    $("#form_${form.id}").submit();
));
$('#form_${form.id}').submit(function() {
    jQuery.ajax({
        url: '${form.title}',
        data: $('#form_${form.id}').serialize(),
        type: "POST",
        beforeSend: function(){  
            $("#submit_btn_${form.id}").attr("disabled", "disabled"); 
        },
        success: function(){
            $("#submit_btn_${form.id}").removeAttr("disabled");
            window.location.reload();
        }
    });
    return false;
});
</script>
</%def>

<%def name="alert_info()">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".info-dialog">${msg_title or u"信息提示"}</button>
<div class="modal fade info-dialog" tabindex="-1" role="dialog" aria-labelledby="info-dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <p>${msg or ''}</p>
    </div>
  </div>
</div>
</%def>

<%def name="page_footer()">
    <div class="container">
      <strong>
          ${handler.get_param_value("copy_right")}
          % if handler.get_param_value("support_desc"):
          ${handler.get_param_value("support_desc")}
          % else:

          % endif
      </strong>
    </div>
</%def>