<%inherit file="usrportal_base.html"/>
<%def name="head()">
<link rel="stylesheet" type="text/css" href="/static/css/slides.style.css">
</%def>
<%def name="body()">

<div id="slider-box" class="slider-container">
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 1</h2>
          <p class="slide__text-desc">适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
    <div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 2</h2>
          <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 3</h2>
          <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
    <div class="slide slide-3">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Project name 4</h2>
          <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
          <a class="slide__text-link">Project link</a>
        </div>
      </div>
    </div>
    </div>
</div>

    <section id="services">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">OUR SERVICES</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-recycle  fa-5x"></i>
                    <h4 class="head-set">RESPONSIVE DESIGN</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-desktop  fa-5x"></i>
                    <h4 class="head-set">EASY TO CUSTOMIZE </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-bolt  fa-5x"></i>
                    <h4 class="head-set">100% FREE TO USE</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICES SECTION END  -->
    <section id="home">
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">

                <div class="col-md-8 col-md-offset-2 text-center">

                    <h1>DESIGN AGENCY </h1>
                    <h2>You Think, We Deliver </h2>
                    <p class="p-cls">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>

            </div>
        </div>

    </section>
    <!--HOME SECTION END  -->

    <!--PARALLAX LIKE / STATS SECTION END  -->
    <section id="works">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">OUR WORKS</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>
            <div class="row text-center portfolio-item">

                <div class="col-md-4 col-sm-4 ">
                    <div class="alert alert-info">
                        <img src="/static/img/1.jpg" class="img-responsive " alt="" />

                        <h3>Project Title Here</h3>
                        <h5><a href="#"><strong>Click Here</strong> </a>to go to the project</h5>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="alert alert-danger">
                        <img src="/static/img/2.jpg" class="img-responsive " alt="" />

                        <h3>Project Title Here</h3>
                        <h5><a href="#"><strong>Click Here</strong> </a>to go to the project</h5>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="alert alert-success">
                        <img src="/static/img/3.jpg" class="img-responsive " alt="" />

                        <h3>Project Title Here</h3>
                        <h5><a href="#"><strong>Click Here</strong> </a>to go to the project</h5>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--WORKS / PORTFOLIO SECTION END  -->

    <section id="contact">
        <div class="container">
            <div class="row text-center ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">OUR LOCATION</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                    <br />
                </div>
            </div>
            <div class="row text-center">


                <div class="col-md-12">
                    <h3>102, Melborne City,</h3>
                    <h3>United States - 600 - 009 -00.</h3>
                    <h3><strong>Email :</strong> info@yourdomain.com</h3>

                </div>

            </div>
        </div>
    </section>
    <!-- CONTACT SECTION END-->
    <section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/static/img/audio.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="/static/img/codecanon.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="/static/img/graphic.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="/static/img/themeforest.png" alt="" class="img-responsive" />
            </div>
        </div>

    </div>
        </section>
    <!-- CLIENTS SECTION END-->

</%def>

<%def name="js()">
<script type="text/javascript" src="/static/js/slides.app.js"></script>
</%def>