<%inherit file="usrportal_base.html"/>
<%def name="head()">

</%def>
<%def name="body()">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="col-md-4 col-center-block">
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-edit"></i>
                    <h3 class="box-title">${form.title}</h3>
                </div>
                <div class="box-body">
                    <div id="alertmsg" class="alert alert-warning alert-dismissible" style="display:none;">
                        <i class="icon fa fa-warning"></i> <div id="alertmsgcontent" style="display:inline;"></div>
                    </div>
                    % if msg:
                    <div class="alert alert-warning"><i class="icon fa fa-warning"></i> ${msg}</div>
                    % endif
                    <form class="form-horizontal form-well" id="form_${form.id}" role="form" action="${form.action}" method="post">
                          ${xsrf_form_html()|n}
                          ${form.render_css()|n}
                    </form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-xs-6"><a href="/usrportal/register">注册新用户</a></div>
                    <div class="col-xs-6 text-right"><a href="/usrportal/login">已有账号？请登录</a></div>
                </div>
                <!-- /.box-footer-->
            </div>
             <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
</%def>

<%def name="js()">
<script>
        function doResetpassword() {
            var uuid = $("#uuid").val();
            var token = $("#token").val();
            var password = $("#password").val();
            var confirmpassword = $("#confirmpassword").val();

            params = {uuid:uuid, token:token, password: password, confirmpassword:confirmpassword, _xsrf: '${handler.xsrf_token}'};
            $.post("/usrportal/resetpassword", params, function (data) {
                if (data.code > 0) {
                    $("#alertmsgcontent").html(data.msg);
                    $("#alertmsg").css('display', 'block');
                    return false;
                }
                else {
                    $(".box-body").html(data.msg);
                }
            }, "json");
        }

        $('#form_resetpassword').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            rules: {
                email: {
                    email:true
                },
                confirmpassword: {
                    equalTo:"#password"
                }
            },

            messages: {
                mobile: {
                    required: "手机号不能为空."
                },
                email: {
                    required: "电子邮箱地址不能为空.",
                    email:"请输入有效的电子邮箱地址."
                },
                password: {
                    required: "登录密码不能为空."
                },
                confirmpassword: {
                    required: "确认密码不能为空.",
                    equalTo:"确认密码必须与登录密码相同"
                },
                uuid: {
                    required: "uuid不能为空.",
                },
                token: {
                    required: "token不能为空.",
                }
            },

            invalidHandler: function(event, validator) { //display error alert on form submit
                $('.alert-danger', $('#form_resetpassword')).show();
            },

            highlight: function(element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            success: function(label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function(error, element) {
                error.insertAfter(element.closest('.form-group'));
            },

            submitHandler: function(form) {
                doResetpassword();//form.submit(); // form validation success, call ajax form submit
            }
        });

        $('#form_resetpassword input').keypress(function(e) {
            if (e.which == 13) {
                if ($('#form_resetpassword').validate().form()) {
                    $('#form_resetpassword').submit(); //form validation success, call ajax form submit
                }
                return false;
            }
        });

</script>
</%def>