<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>常见问题</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link href="/static/css/weui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/mps.css" rel="stylesheet" type="text/css"/>
<body>
<div class="container" id="container">
<div class="panel">
    <div class="hd">
        <h1 class="page_title">用户指南</h1>
    </div> 
        <div class="weui_panel_hd">常见问题</div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">宽带错误代码 - 769</h4>
                <p class="weui_media_desc">产生的原因可能为：一般都是出现在WIN XP操作系统中，是由于电脑里本地连接禁用或停用造成。 </p>
            </div>
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">宽带错误代码 - 691/635</h4>
                <p class="weui_media_desc">产生的原因可能有以下几种：
                    1、域名上出现错误（用户名或密码输入错误）。
                    2、服务器无反映（机房用户端口错误，或帐号未被激活）。
                    3、电话或宽带到期欠费造成。  
                </p>
            </div>
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">宽带错误代码 - 678</h4>
                <p class="weui_media_desc">出现678错误代码一般是由于大面积、电脑软件、电脑网卡硬件以及一些外部因素所导致。  </p>
            </div>
        </div>
    </div>    
</div>    
</div>    

</body>
</html>