/*================================
    GENERAL STYLES
==================================*/

body {
    font-family: 'Roboto', sans-serif;
}

.main-header .navbar-collapse {
    font-size: 18px;
}



/*================================
    NAVBAR STYLES
==================================*/
@media (max-width: 767px) {
    .main-header .navbar-custom-menu {
        position: absolute;
        top: 0px;
        right: 40px;}

    .main-header .pull-right {
        float: none!important;}
    .fixed .content-wrapper, .fixed .right-side {
        padding-top: 50px;
    }
}

.info-page {
    width: 600px;
    margin: 20px auto 0 auto;
}

.info-page>.info-content {
    margin-left: 190px;
    display: block;
}

@media (max-width: 991px) {
    .info-page > .info-content {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .info-page {
        width: 100%;
    }
}

.info-content p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}